################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Aluguel/.vs/Aluguel/v16/Server/sqlite3
