@model Aluguel.Dominio.Models.Contrato

@{
    ViewData["Title"] = "Delete";
}


<h3>Você esta certo em querer deletar este registro?</h3>
<div>
    <h4>Contrato</h4>
    <hr />

    @await Html.PartialAsync("_delete_detail")

    <form asp-action="Delete">
        <input type="hidden" asp-for="ContratoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
