@model Aluguel.Dominio.Models.Contrato

@{
    ViewData["Title"] = "Edit";
}


<h4>Contrato</h4>
<hr />


@await Html.PartialAsync("_create_edit")

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
